@model List<GenreTbl>
<div class="container">
    <div class="row pt-4 pb-3 offset-md-1">
        <div class="col-6  ">
            <h2 class="text-primary"> Genre List</h2>
        </div>
        <div class="col-6  text-end ">
            <a asp-controller="Genre" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>  Add New Genre
            </a>
        </div>
        <div class="row py-2">
            <table class="table table-borderless table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Genre Name</th>
                        <th></th>
                    </tr>
                     
                </thead>
                <tbody>
                    @foreach(var item in Model){
                        <tr>
                            <td>@item.GenreName</td>
                            <td>
                                <div class="btn btn-group float-end" role="group">
                                    <a asp-controller="Genre" asp-action="Edit" asp-route-id="@item.GenreId" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                                    <a asp-controller="Genre" asp-action="Delete" asp-route-id="@item.GenreId" class="btn btn-danger">
                                        <i class="bi bi-trash"></i> Delete
                                    </a>
                                </div>
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>

        </div>
</div>
</div>