@model List<AlbumTbl>
<div class="row pb-3">
    @foreach (var music in Model)
    {
       
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">

                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        <img src=" @music.SongTbls.FirstOrDefault().SongPicture    " class="card-img-top rounded" height="200" width="200" />

                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">
                                @music.AlbumTitle
                            </p>
                            <p class="card-title text-warning text-center">Singer:<b> @music.SongTbls.FirstOrDefault().Singer.SingerName </b></p>
                        </div>
                          
                        <div p-1>
                            <a   class="btn btn-outline-secondary"  asp-controller="Album" asp-action="SongList" asp-route-id="@music.AlbumId">Detail</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    }
</div>

